@charset "UFT-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");


@keyframes rotate_image {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}




/* reset */
*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'SUIT';
    scroll-behavior: smooth;
    cursor: default;
}

a,
a:link,
a:visited {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer !important;
}

img {
    image-rendering: auto;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
*::-webkit-scrollbar {
    display: none;
}

.scroll {
    -ms-overflow-style: none;
    /* 인터넷 익스플로러 */
    scrollbar-width: none;
    /* 파이어폭스 */
}

button,
button:active,
button:focus {
    all: unset;
}

html {
    zoom: 0.81;
}





/* section */
#artist { width:100%; height:100px; }
#other { width:100%; height:100px; }
#offline { width:100%; height:10px; }






/* ad */
#ad {
    display: none;
    z-index: 999999;
    position: fixed;
    width: 100%;
    top: 132.5px;
    background-color: black;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.ad_wrap {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 75%;
    overflow: hidden;
}

.ad_wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right, #000, rgba(0, 0, 0, 0) 100%);
}

.ad_wrap::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to left, #000, rgba(0, 0, 0, 0) 100%);
}

.roller ul {
    display: flex;
}

.roller li {
    display: inline-block;
    width: max-content;
    padding: 5px 0;
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
}

/* 애니메이션 */
.roller.original {
    animation: 45s linear 0s infinite normal forwards running rollingleft1;
}

.roller.clone {
    animation: 45s linear 0s infinite normal none running rollingleft2;
}

@keyframes rollingleft1 {

    /* 원본용 */
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100%);
    }

    50.01% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rollingleft2 {

    /* 클론용 */
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}





/* header */
#header {
    z-index:99999;
    position: fixed;
    top:0;
    width:100%;
    background-color:rgba(0, 0, 0, 1);
}

.header_wrap {
    margin:0 auto;
    width:100%;
    padding:30px 0 15px;
    height:100px;
    color:rgba(255, 255, 255, 1);
    border-bottom:1px solid white;
}

.logo { margin:0 auto; text-align:center; }
.logo img {
    width:81px;
    height:90px;
    cursor: pointer;
    overflow:hidden;
}




/* menu */
.menu {
    display:none;
    box-sizing:border-box;
    width:100%;
    padding-bottom:50px;
    background-color:black;
    border-bottom:1px solid white;
}

.menu a {
    text-decoration:none;
    font-family: 'SUIT', sans-serif;
}





/* shop */
.bridge {
    margin-top:45px;
    text-align:center;
}

.bridge a img {
    animation: rotate_image 10s linear infinite;
    transform-origin:50% 50%;
    width:90px;
    height:90px;
}

.bridge a:hover img {
    animation-play-state: paused;
    filter:opacity(0.9);
}





/* category */
.cate_wrap {
    margin:30px auto 0;
    width:100%;
    text-align:center;
}

.cate_wrap p {
    margin:0 auto 5px;
    color:white;
    font-size:20px;
    font-weight:300;
}

.category a {
    display:inline-block;
    color:rgba(255,255,255,1);
    font-size:20px;
}

.category a span {
    display:block;
    transition:0.5s;
    transform:scaleX(0);
    border-bottom:1.5px solid rgba(255, 255, 255, 1);
}

.category a:hover span {
    transition:0.5s;
    transform:scaleX(1);
    border-bottom:1.5px solid rgba(255, 255, 255, 1);
}





/* tool */
.tool_wrap {
    margin:30px auto 0;
}

.tool {
    display:block;
    margin:0 auto;
    width:200px;
    height:25px;
    padding:0;
    text-align:center;
}
.tool a {
    margin-right:30px;
    padding:0;
    color:rgba(136, 136, 136, 1);
    font-size:16px;
}

.tool a:last-child { margin-right:0px; }





/* container */
#container {
    z-index: 1;
    position: relative;
    margin-top: 140px;
    width: 100%;
}





/* banner */
#banner {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height:500px;
    overflow: hidden;
}

.bn_list {
    position: relative;
    width: 100%;
    height:500px;
    overflow: hidden;
}

.slide {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    height:500px;
    user-select: none;
}

.slide_item {
    display: flex;
    position: relative;
    left: 0px;
    width: 100%;
    height:500px;
    flex-shrink: 0;
    transition: left 0.15s;
    background-size:auto;
    background-attachment:fixed;
    background-position:top left;
    background-repeat:no-repeat;
}

.slide_button {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
}

.item_wrap {
    margin:50px auto;
    width:75%;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
.slide_item.item1 {
    color:white;
    text-align: left;
    background-image:url(../images/banner_1.jpg);
}

.slide_item.item1 h1 {
    font-size:25px;
    margin-top:50px;
    margin-left:5px;
    margin-bottom:10px;
    letter-spacing:1px;
}
.slide_item.item1 .item_btn { position:relative; cursor:pointer; }
.slide_item.item1 button {
    width:100px;
    height:30px;
    color:black;
    font-size:14px;
    font-weight:600;
    text-align:center;
    border:3px solid white;
    border-radius:50px;
    background-color:white;
}
.slide_item.item1 .join { z-index:1; }
.slide_item.item1 .join_cl {
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    color:white;
    background-color:black;
    transition:0.8s;
    clip-path: circle(0% at 50% 50%);
}
.slide_item.item1 .item_btn:hover .join_cl { clip-path: circle(100% at 50% 50%); transition:0.8s; }

.slide_item.item2 {
    color:white;
    padding-top:125px;
    text-align:center;
    background-image:url(../images/banner_2.jpg);
}

.slide_item.item2 .item_wrap {
    box-sizing:border-box;
    width:70%;
    height:190px;
    padding-top:30px;
    border-radius:50%;
    background-color:black;
}
.slide_item.item2 h1 { font-size:22.5px; font-weight:800; }
.slide_item.item2 h2 { font-size:17.5px; font-weight:600; color:#aaa; }
.slide_item.item2 p { margin-top:5px; font-size:11px; color:#eee; }

.slide_item.item3 { padding-top:0px; background-image:url(../images/banner_3.jpg); }
.slide_item.item3 .item_wrap {
    position:absolute;
    margin:0;
    bottom:0;
    width:100%;
    height:100px;
    padding: 25px 0px 40px 20px;
    color:black;
    background-color:rgba(255,255,255,0.5);
    border-top:1px solid black;
}
.slide_item.item3 h1 { font-size:25px; line-height:30px; margin-bottom:5px; }
.slide_item.item3 h1 span { text-decoration:underline; }
.slide_item.item3 h2 { font-size:15px; line-height:17.5px; margin-left:10px; margin-bottom:5px; }
.slide_item.item3 p { color:#555; font-size:12px; line-height:15px; margin-left:10px; font-weight:500; }

.slide_item.item4 { background-image:url(../images/banner_4.jpg); }
.slide_item.item4 .item_wrap {
    position:absolute;
    margin:0;
    bottom:0;
    width:100%;
    height:100px;
    padding: 25px 0px 40px 20px;
    color:white;
    background-color:rgba(0,0,0,1);
    border-top:1px solid white;
}
.slide_item.item4 h1 { font-size:25px; line-height:30px; }
.slide_item.item4 h2 { font-size:15px; line-height:20px; margin-left:5px; margin-bottom:5px; }
.slide_item.item4 p { color:#ddd; font-size:13px; line-height:15px; margin-left:5px; font-weight:500; }
.slide_item.item4 button { color:#aaa; text-decoration:underline; }

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.slide_pagination {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
}

.slide_pagination>li {
    color: #ffffff99;
    cursor: pointer;
    font-size: 30px;
    text-shadow:0 0 0px black;
}

.slide_pagination>li.active {
    color: #fff;
}

.slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
}





/* content */
#content {
    clear:both;
    position:relative;
    margin: 0 auto;
    width:100%;
    color:white;
    background-color:black;
    border-top:1px solid white;
}

.content_wrap {
    margin: 0 auto;
    width:100%;
}

.m_logo { margin-bottom:25px; text-align:center; }
.m_logo img { width:110px; }

.m_tt {
    box-sizing:border-box;
    margin:0 auto;
    padding-top:19px;
    width:200px;
    height:100px;
    text-align:center;
    border:2px solid white;
    border-radius:100px;
}

.m_tt h1 { font-size:25px; letter-spacing:1px; }
.m_tt h2 { font-size:20px; }
.m_inner hr { margin:50px auto 0; width:20px; border-bottom:2px solid white; }
.inner_tt { margin:50px 0 50px; font-size:22.5px; text-align:center; letter-spacing:1px; }

.inner_list {
    position:relative;
    margin:0 auto;
    width:80%;
    text-align:center;
}

.inner_list img { width:70%; }

.inner_list .inner_01 { float:left; width:50%; }
.inner_list .inner_02 { float:right; width:50%; }

.inner_list h1 {
    margin-top:35px;
    font-size:20px;
    font-weight:700;
    letter-spacing:1px;
}
.inner_list h2 { margin:7.5px 0; font-size:13px; font-weight:500; color:#ccc; }
.inner_list h3 { font-size:10px; font-weight:600; color:#666; }

.inner_sub {
    clear:both;
    padding-top:50px;
    padding-bottom:15px;
    font-size:25px;
    text-align:center;
    letter-spacing:1px;
}

.inner_txt {
    color:#ccc;
    font-size:13px;
    line-height:18px;
    text-align:center;
}

#other {
    margin:0 auto;
    width:100%;
}

.others { margin:0 auto; width:325px; height:fit-content; }
.others h1 { font-size:25px; letter-spacing:1.5px; margin-bottom:15px; }
.others ul { list-style:none; }
.others li {
    display:inline-block;
    position:relative;
    margin-bottom:15px;
    padding:0;
    width:100%;
    height:425px;
    background-size:cover;
    background-position:center center;
}
.others li:first-child { background-image:url(../images/plaster.jpg); }
.others li:nth-child(2) { background-image:url(../images/untitled.jpg); }
.others li:last-child { margin-right:0; background-image:url(../images/wave.jpg); }

.o_inner {
    box-sizing: border-box;
    position:absolute;
    bottom:0;
    color:black;
    width:100%;
    height:125px;
    background-color:rgba(255,255,255,0.7);
    border-top:1px solid black;
    overflow-y:hidden;
    transition:1.5s;
}
.o_inner:hover { height:425px; transition:0.8s; }

.inner_wrap { margin:25px auto; width:85%; }

.inner_l { float:left; height:95px; }
.inner_l h1 { font-size:17.5px; margin-bottom:5px; }
.inner_l p { font-size:13px; }

.inner_r {
    clear:both;
    box-sizing:border-box;
    padding-top:25px;
    height:95px;
    text-align:right;
}
.others li:nth-child(2) .inner_r { padding-top:20px; }
.inner_r h2 { font-size:17.5px; margin-bottom:2.5px; }
.inner_r p { font-size:15px; }

.inner_b {
    clear:both;
    position:relative;
    margin:auto;
    width:125px;
    cursor:pointer;
}
.inner_b button {
    margin-top:125px;
    width:125px;
    height:45px;
    color:white;
    font-size:15px;
    text-align:center;
    border-radius:50px;
    border:1px solid black;
    background-color:black;
}
.inner_b .inner_more { z-index:1; }
.inner_b .inner_clone {
    z-index:2;
    position:absolute;
    left:0;
    top:0;
    color:black;
    border:1px solid black;
    background-color:white;
    clip-path: circle(0% at 50% 50%);
    transition:0.8s;
}
.inner_b:hover .inner_clone { 
    clip-path: circle(100% at 50% 50%);
    transition:0.5s;
}

.o_btn {
    margin-top:5px;
    float:right;
    position:relative;
}

.o_btn a {
    box-sizing:border-box;
    display:inline-block;
    padding-top:9px;
    width:95px;
    height:40px;
    font-size:15px;
    font-weight:800;
    text-align:center;
    color:black;
    border:1px solid white;
    background-color:white;
    border-radius:50px;
}
.o_btn .o_more { z-index:1; }
.o_btn .o_clone {
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    color:white;
    background-color:black;
    clip-path: circle(0% at 50% 50%);
    transition:1s;
}
.o_btn:hover .o_clone { 
    clip-path: circle(100% at 50% 50%);
    transition:0.58s;
}





/* offline exhibition */
#offline_ex {
    clear:both;
    margin:125px auto 0;
    width:295px;
    padding-bottom:100px;
}

#offline_ex h1 {
    font-size:25px; letter-spacing:1.5px; margin-bottom:20px; 
}

.off_list div {
    box-sizing:border-box;
    background-size:cover;
    background-position:center center;
}

.off_list .bn_02 { margin-bottom:25px; background-image:url(../images/off_02.jpg); }
.off_list .bn_03 { background-image:url(../images/off_03.jpg); }
.off_list .bn_02, .off_list .bn_03 {
    display:inline-block;
    width: 100%;
    height:395px;
}

.off_btn {
    margin-top:20px;
    float:right;
    position:relative;
}

.off_btn a {
    box-sizing:border-box;
    display:inline-block;
    padding-top:9px;
    width:95px;
    height:40px;
    font-size:15px;
    font-weight:800;
    text-align:center;
    color:black;
    border:1px solid white;
    background-color:white;
    border-radius:50px;
}
.off_btn .o_more { z-index:1; }
.off_btn .o_clone {
    z-index:2;
    position:absolute;
    top:0;
    left:0;
    color:white;
    background-color:black;
    clip-path: circle(0% at 50% 50%);
    transition:1s;
}
.off_btn:hover .o_clone { 
    clip-path: circle(100% at 50% 50%);
    transition:0.58s;
}
.clear{ clear:both; }





/* footer */
#footer {
    bottom:0;
    width:100%;
    height:525px;
    border-top:1px solid white;
    background-color:black;
}

.footer_wrap {
    margin:65px auto;
    width:75%;
}
.footer_wrap ul { list-style:none; }

.footer_logo { width:100%; }
.footer_logo img { width:45%; }

.footer_map { float:left; margin-top:25px; }
.footer_map li {
    display:block;
    width:100%;
    margin-bottom:10px;
    color:white;
    font-size:12.5px;
    font-weight:300;
    line-height:15px;
    letter-spacing:1px;
}
.footer_map li:last-child { margin-bottom:0; }

.footer_tool { clear:both; padding:20px 0px; margin-left:0%; }
.footer_tool ul { list-style:none; }
.footer_tool li {
    width:100%;
    margin-bottom:10px;
    color:white;
    font-size:12.5px;
    font-weight:300;
    line-height:15px;
    letter-spacing:1px;
    cursor:pointer;
}

.sub_a {
    box-sizing:border-box;
    position:relative;
    margin-top:20px;
    width:80px;
    height:25px;
    color:black;
    font-size:15px;
    font-weight:500;
    text-align:center;
    border-radius:5px;
    background-color:white;
    cursor:pointer;
}
.sub_a p { padding-top:3px; }

.sub_b {
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:80px;
    height:25px;
    color:white;
    font-size:15px;
    font-weight:500;
    text-align:center;
    border-radius:5px;
    border:1px solid white;
    background-color:black;
    clip-path: circle(0% at 50% 50%);
    transition:0.5s;
}
.sub_a:hover .sub_b {clip-path: circle(100% at 50% 50%); transition:0.5s; cursor:pointer; }

.copyright {
    color:rgba(255,255,255,0.5);
    font-size:15px;
    font-weight:300;
    margin-top:25px;
    transition:0.5s;
}

.copyright:hover {
    color:rgba(255,255,255,1);
    transition:0.5s;
}
